@import "../../variables";

.receiver-list {
  height: calc(50% - 7.5px);
  margin-bottom: 15px;

  .panel-1 {
    .panel-title {
      .controls {
        .control {
          margin-left: 10px;

          > input {
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 0;
            padding: 0 3px;
          }

          .show-hide-button {
            border: 1px solid #ccc;
            border-radius: 0;
            height: 30px;
            width: 90px;
            cursor: pointer;
          }

          .show-hide-button.active {
            background-color: #23b546;
            color: #fff;
          }
        }
      }
    }

    .panel-body-padding-all-around {
      .devices {
        display: flex;
        flex: 1;
        overflow-x: auto;
        padding: 5px 0;

        .device {
          flex: 1;
          margin: 5px;
          border: 1px solid #5f5f5f;
          max-width: 170px;
          min-width: 150px;
          height: 100%;
          display: flex;
          flex-direction: column;

          .header {
            height: 40px;
            line-height: 40px;
            padding: 0 5px;
            background-color: #5f5f5f;
            text-overflow: ellipsis;
            border-bottom: 1px solid #ccc;
            color: #fff;
          }

          .header.pyr-dragover {
            background-color: #1b6d85;
          }

          .body {
            flex: 1;

            .receivers {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 2px 3px;
              overflow-y: auto;

              .receiver {
                min-height: 60px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                background-color: #b66a12;
                margin: 1px 0;
                border: 1px solid #ccc;
                overflow: hidden;
                cursor: pointer;

                .label {
                  display: flex;

                  .icon-col {
                    margin-right: 5px;

                    > i.fa {
                      padding: 3px;
                      background-color: $color-orange;
                      border-radius: 2px;
                      color: #fff;
                      border: 1px solid #444;
                    }
                  }

                  .icon-col.active {
                    > i.fa {
                      background-color: $color-green;
                    }
                  }

                  .description {
                    color: #fff;
                  }
                }
              }

              .receiver.pyr-dragover {
                background-color: #1b6d85;
              }

              .receiver.pyr-dragover-forbidden {
                cursor: not-allowed;
              }

              .receiver:hover {
                background-color: #cc8733;
              }
            }
          }
        }

        .device.pyr-dragover {
          border-color: #1b6d85;

          .header {
            background-color: #1b6d85;
          }

          .body {
            .receivers {
              .receiver.pyr-dragover-forbidden {
                cursor: auto;
              }
            }
          }
        }
      }
    }
  }
}