<div class="receiver-list">
    <div class="panel-1 devices-panel">
        <div class="panel-title">
            <div class="title">
                Receivers
            </div>
            <div class="controls" *ngIf="status == 'loaded'">
                <div class="control">
                    <button class="show-hide-button"
                            [class.active]="filters.showVideo"
                            (click)="toggleVideoFilter.emit()">
                        <i class="fa fa-eye" *ngIf="filters.showVideo"></i>
                        <i class="fa fa-eye-slash" *ngIf="!filters.showVideo"></i>
                        video
                    </button>
                    <button class="show-hide-button"
                            [class.active]="filters.showAudio"
                            (click)="toggleAudioFilter.emit()">
                        <i class="fa fa-eye" *ngIf="filters.showAudio"></i>
                        <i class="fa fa-eye-slash" *ngIf="!filters.showAudio"></i>
                        audio
                    </button>
                    <button class="show-hide-button"
                            [class.active]="filters.showData"
                            (click)="toggleDataFilter.emit()">
                        <i class="fa fa-eye" *ngIf="filters.showData"></i>
                        <i class="fa fa-eye-slash" *ngIf="!filters.showData"></i>
                        data
                    </button>
                    <button class="show-hide-button"
                            [class.active]="filters.showInUse"
                            (click)="toggleInUseFilter.emit()">
                        <i class="fa fa-eye" *ngIf="filters.showInUse"></i>
                        <i class="fa fa-eye-slash" *ngIf="!filters.showInUse"></i>
                        in use
                    </button>
                </div>
                <div class="control">
                    <input type="text"
                           placeholder="filter devices..."
                           (input)="triggerReceiverTextFilter.emit($event.target.value)" />
                </div>
            </div>
        </div>
        <div class="panel-body-padding-all-around">
            <devices-status *ngIf="status == 'loading' || (status == 'loaded' && devices.length == 0)"
                                     [status]="status"
                                     [loadingText]="'receivers loading'"
                                     [errorText]="'could not load receivers'"
                                     [noDataText]="'no receivers found'"></devices-status>
            <div class="devices" *ngIf="status == 'loaded' && devices.length > 0">
                <div class="device" *ngFor="let device of devices"
                     pyrDroppable
                     [allow]="['senderDevice']"
                     (pyrDrop)="handleDeviceDrop($event, device)">
                    <div class="header"
                         [title]="device.label"
                         pyrDroppable
                         [allow]="['free']"
                         (pyrDrop)="handleHeaderDrop($event, device)">
                        {{ device.label }}
                    </div>
                    <div class="body">
                        <div class="receivers">
                            <div class="receiver"
                                 *ngFor="let receiver of device.receivers"
                                 pyrDroppable
                                 [allow]="['sender-' + receiver.receiverType, 'abort', 'free']"
                                 (pyrDrop)="handleDrop($event, device, receiver, device.node)">
                                <div class="label" *ngIf="receiver">
                                    <div class="icon-col"
                                         [ngSwitch]="receiver.receiverType"
                                         [class.active]="receiver.subscription.sender_id && receiver.subscription.active"
                                         [title]="receiver.subscription.sender_id">
                                        <i class="fa fa-television" *ngSwitchCase="'VIDEO'"></i>
                                        <i class="fa fa-volume-up" *ngSwitchCase="'AUDIO'"></i>
                                        <i class="fa fa-file-o" *ngSwitchCase="'ANC'"></i>
                                    </div>
                                    <div class="description"
                                         [title]="receiver ? receiver.label : 'INVALID'">
                                        {{ receiver.label ? receiver.label : 'INVALID' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>