.main-header{height:40px;display:flex;align-items:center;justify-content:space-between;padding:0 10px;background-color:#444}.main-header .right,.main-header .left{flex-basis:50%}.main-header .right .name{font-size:20px;color:#fff}
