@import "../../variables";

$height: 40px;
$colorBackground: #444;
$colorForeground: #fff;

.main-header {
  height: $height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: $colorBackground;

  .right,
  .left {
    flex-basis: 50%;
  }

  .right {
    .name {
      font-size: 20px;
      color: $colorForeground;
    }
  }
}