<div class="sender-list">
    <div class="panel-1 devices-panel">
        <div class="panel-title">
            <div class="title">
                Senders
            </div>
            <div class="controls" *ngIf="status == 'loaded'">
                <div class="control">
                    <input type="text"
                           placeholder="filter devices..."
                           (input)="triggerSenderTextFilter.emit($event.target.value)" />
                </div>
            </div>
        </div>
        <div class="panel-body-padding-all-around">
            <devices-status *ngIf="status == 'loading' || (status == 'loaded' && devices.length == 0)"
                                     [status]="status"
                                     [loadingText]="'senders loading'"
                                     [errorText]="'could not load senders'"
                                     [noDataText]="'no senders found'"></devices-status>
            <div class="devices" *ngIf="status == 'loaded'">
                <div class="device fake-device">
                    <div class="body">
                        <div class="fake-block-container">
                            <div class="fake-block free"
                                 pyrDraggable
                                 [dragType]="'free'"
                                 [dragPayload]="{}">
                                Free
                            </div>
                        </div>
                        <div class="fake-block-container">
                            <div class="fake-block abort"
                                 pyrDraggable
                                 [dragType]="'abort'"
                                 [dragPayload]="{}">
                                Abort
                            </div>
                        </div>
                    </div>
                </div>
                <div class="device" *ngFor="let device of devices">
                    <div class="header-container">
                        <div class="header" [title]="device.label"
                             pyrDraggable
                             [dragType]="'senderDevice'"
                             [dragPayload]="device">
                            {{ device.label }}
                        </div>
                    </div>
                    <div class="body">
                        <div class="senders">
                            <div class="sender-container" *ngFor="let sender of device.senders">
                                <div class="sender"
                                     pyrDraggable
                                     [dragType]="'sender-' + sender.flow.type"
                                     [dragPayload]="{senderDevice: device, sender: sender}">
                                    <div class="label">
                                        <div class="icon-col" [ngSwitch]="sender.flow.type">
                                            <i class="fa fa-television" *ngSwitchCase="'VIDEO'"></i>
                                            <i class="fa fa-volume-up" *ngSwitchCase="'AUDIO'"></i>
                                            <i class="fa fa-file-o" *ngSwitchCase="'ANC'"></i>
                                        </div>
                                        <div class="description"
                                             [title]="sender ? sender.label : 'INVALID'">
                                            {{ sender ? sender.label : 'INVALID' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
