@import "../../variables";

.sender-list {
  height: calc(50% - 7.5px);

  .panel-1 {
    .panel-title {
      .controls {
        .control {
          margin-left: 10px;

          > input {
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 0;
            padding: 0 3px;
          }

          .show-hide-button {
            border: 1px solid #ccc;
            border-radius: 0;
            height: 30px;
            width: 90px;
            cursor: pointer;
          }
        }
      }
    }

    .panel-body-padding-all-around {
      .devices {
        display: flex;
        height: 100%;

        .device {
          flex: 1;
          margin: 5px;
          border: 1px solid #ccc;
          max-width: 170px;
          min-width: 140px;
          height: 100%;
          display: flex;
          flex-direction: column;

          .header-container {
            .header {
              height: 40px;
              line-height: 40px;
              padding: 0 5px;
              background-color: #5f5f5f;
              color: #fff;
              text-overflow: ellipsis;
              border-bottom: 1px solid #ccc;
              cursor: move;
            }

            .header:hover {
              background-color: #717171;
            }
          }

          .body {
            flex: 1;

            .senders {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 2px 3px;
              overflow-y: auto;

              .sender-container {
                width: 100%;

                .sender {
                  min-height: 50px;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 5px;
                  background-color: #008720;
                  margin: 1px 0;
                  border: 1px solid #ccc;
                  overflow: hidden;
                  cursor: pointer;

                  .label {
                    display: flex;

                    .icon-col {
                      margin-right: 5px;

                      > i.fa {
                        padding: 3px;
                        background-color: $color-green;
                        border-radius: 2px;
                        color: #fff;
                        border: 1px solid #444;
                      }
                    }

                    .description {
                      color: #fff;
                    }
                  }
                }

                .sender:hover {
                  background-color: #23b546;
                }
              }
            }
          }
        }

        .device.fake-device {
          border: none;
          min-width: 120px;
          max-width: 120px;

          .body {
            .fake-block-container {
              .fake-block {
                background-color: #5f5f5f;
                height: 50px;
                line-height: 50px;
                text-align: center;
                width: 100%;
                color: #fff;
                font-size: 20px;
                margin-bottom: 10px;
                cursor: move;
              }

              .fake-block:hover {
                background-color: #717171;
              }
            }
          }
        }
      }
    }
  }
}