@import "variables";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  color: #444;
  box-sizing: border-box;
}

.body {
  height: calc(100% - 40px);
}