<div class="main-menu">
    <div class="header">
        <div class="header-content">

        </div>
    </div>
    <div class="body">
        <a routerLink="/" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{exact:true}">
            <div class="menu-item">
                <div class="title">
                    <div class="icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="text">
                        Home
                    </div>
                </div>
                <div class="caret">
                    <i class="fa fa-caret-right"></i>
                </div>
            </div>
        </a>
    </div>
</div>