<div class="index-page page-content">
    <div class="left">
        <receiver-list [status]="status | async"
                       [devices]="receiverDevices | async"
                       [dragData]="dragData | async"
                       [filters]="receiverFilters | async"
                       (stage)="stage($event)"
                       (abort)="abort($event)"
                       (free)="free($event)"
                       (bulkFree)="bulkFree($event)"
                       (toggleVideoFilter)="toggleVideoFilter($event)"
                       (toggleAudioFilter)="toggleAudioFilter($event)"
                       (toggleDataFilter)="toggleDataFilter($event)"
                       (toggleInUseFilter)="toggleInUseFilter($event)"
                       (triggerReceiverTextFilter)="triggerReceiverTextFilter($event)"></receiver-list>
        <sender-list [status]="status | async"
                     [devices]="senderDevices | async"
                     (setDragData)="setDragData($event)"
                     (clearDragData)="clearDragData($event)"
                     (triggerSenderTextFilter)="triggerSenderTextFilter($event)"></sender-list>
    </div>
    <div class="right">
        <staging-list [staged]="staged | async"
                      [stageMode]="stageMode | async"
                      [requestedTime]="requestedTime | async"
                      (deleteStage)="deleteStage($event)"
                      (take)="take($event)"
                      (clearStaged)="clearStaged($event)"
                      (updateStageMode)="updateStageMode($event)"
                      (updateRequestedTime)="updateRequestedTime($event)"></staging-list>
    </div>
</div>