@import "../../variables";

.index-page {
  display: flex;
  height: 100%;
  background-color: #f2f2f2;

  .left {
    flex-basis: 70%;
    max-width: 70%;
    margin: 15px;
  }

  .right {
    flex-basis: 30%;
    max-width: 30%;
    margin: 15px 15px 15px 0;
  }
}