<div class="devices-status">
    <div class="error" *ngIf="status == 'error'">
        <div class="error-icon">
            <i class="fa fa-exclamation-triangle fa-3x"></i>
        </div>
        <div class="error-text">
            {{ errorText }}
        </div>
    </div>
    <div class="loading" *ngIf="status == 'loading'">
        <div class="loading-icon">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="loading-text">
            {{ loadingText }}
        </div>
    </div>
    <div class="no-data" *ngIf="status == 'loaded'">
        <div class="no-data-icon">
            <i class="fa fa-exclamation-circle fa-3x"></i>
        </div>
        <div class="no-data-text">
            {{ noDataText}}
        </div>
    </div>
</div>