$error-color: #863526;
$loading-color: #808080;

:host {
  margin: auto;
}

.devices-status {
  text-align: center;

  .loading-icon,
  .no-data-icon {
    > i.fa {
      color: $loading-color;
    }
  }

  .error-icon {
    > i.fa {
      color: $error-color;
    }
  }

  .loading-text,
  .error-text,
  .no-data-text {
    margin-top: 10px;
    font-size: 20px;
  }

  .loading-text,
  .no-data-text {
    color: $loading-color;
  }

  .error-text {
    color: $error-color;
  }
}