.staging-list {
  height: 100%;

  .panel-1 {
    height: 100%;

    .staging-panel-body {
      margin: 15px;

      .connection-mode-row {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;

        .left {
          display: flex;
          height: 40px;
          align-items: center;

          .label {
            margin-right: 5px;
          }

          .select {
            > select {
              height: 30px;
              border: 1px solid #ccc;
              padding: 0 3px;
            }
          }
        }

        .right {
          display: flex;
          margin-left: 10px;
          height: 40px;
          align-items: center;

          .label {

          }

          .time {
            > input {
              height: 30px;
              margin-left: 5px;
            }
          }
        }
      }

      .take-row {
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;

        .left {

        }

        .right {
          > button {
            height: 30px;
            width: 80px;
            border: 1px solid #ccc;
            cursor: pointer;
          }
        }
      }

      .table {
        margin-top: 5px;
        overflow-y: auto;

        .table-row {
          display: flex;
          min-height: 30px;
          align-items: center;

          .table-cell {
            overflow: hidden;
            padding: 3px;
            min-height: 30px;
            display: flex;
            align-items: center;
          }

          .table-cell:nth-child(1),
          .table-cell:nth-child(2),
          .table-cell:nth-child(4),
          .table-cell:nth-child(6),
          .table-cell:nth-child(7) {
            flex-basis: 16%;
          }

          .table-cell:nth-child(3),
          .table-cell:nth-child(5) {
            flex-basis: 10%;
          }

          .table-cell:nth-child(8) {
            flex-basis: 14px;
          }
        }

        .table-row:hover {

        }

        .table-row.table-header {
          .table-cell {
            color: #fff;
            justify-content: center;
          }

          .table-cell:first-child,
          .table-cell:nth-child(2) {
            background-color: #b66a12;
          }

          .table-cell:nth-child(6),
          .table-cell:nth-child(7),
          .table-cell:nth-child(8) {
            background-color: #008720;
          }

          .table-cell:nth-child(3),
          .table-cell:nth-child(4),
          .table-cell:nth-child(5){
            background-color: #808080;
          }

          .table-cell:first-child,
          .table-cell:nth-child(2),
          .table-cell:nth-child(5),
          .table-cell:nth-child(6) {
            border-right: 1px solid #e2e2e2;
          }
        }

        .table-row.table-body {
          border-bottom: 1px solid #e2e2e2;

          .table-cell {
            font-size: 12px;
          }

          .interface-cell {
            justify-content: center;

            > select {
              height: 25px;
              border: 1px solid #ccc;
              border-radius: 0;
              width: 100%;
            }
          }

          .arrow-cell {
            justify-content: center;

            > i.fa {
              font-size: 24px;
              color: #585858;
            }
          }

          .delete-cell {
            > i.fa {
              cursor: pointer;
              font-size: 14px;
            }

            > i.fa:hover {
              color: #842210;
            }
          }
        }
      }
    }
  }
}