<div class="staging-list">
    <div class="panel-1">
        <div class="panel-title">
            <div class="title">
                Staging
            </div>
        </div>
        <div class="staging-panel-body">
            <div class="connection-mode-row">
                <div class="left">
                    <div class="label">
                        Connection
                    </div>
                    <div class="select">
                        <select (change)="updateStageMode.emit($event.target.value)" [value]="stageMode">
                            <option value="activate_immediate">immediate</option>
                            <option value="activate_scheduled_relative">relative</option>
                            <option value="activate_scheduled_absolute">absolute</option>
                        </select>
                    </div>
                </div>
                <div class="right" *ngIf="stageMode == 'activate_scheduled_relative' || stageMode == 'activate_scheduled_absolute'">
                    <div class="label">
                        Time
                    </div>
                    <div class="time">
                        <input type="text" placeholder="ms:ns"
                               (input)="updateRequestedTime.emit($event.target.value)"
                               [value]="requestedTime" />
                    </div>
                </div>
            </div>
            <div class="take-row">
                <div class="left">

                </div>
                <div class="right">
                    <button class="take" (click)="take.emit({staged: staged, mode: stageMode, requestedTime: requestedTime})">Take</button>
                    <button class="clear" (click)="clearStaged.emit()">Clear</button>
                </div>
            </div>
            <div class="table">
                <div class="table-row table-header">
                    <div class="table-cell">Device</div>
                    <div class="table-cell">Receiver</div>
                    <div class="table-cell"></div>
                    <div class="table-cell">Take</div>
                    <div class="table-cell"></div>
                    <div class="table-cell">Sender</div>
                    <div class="table-cell">Device</div>
                    <div class="table-cell"></div>
                </div>
                <div class="table-row table-body"
                     *ngFor="let stage of staged; let i = index">
                    <div class="table-cell" title="{{ stage.receiverDevice.label }}">
                        {{ stage.receiverDevice.label }}
                    </div>
                    <div class="table-cell" title="{{ stage.receiver.label }}">
                        {{ stage.receiver.label }}
                    </div>
                    <div class="table-cell arrow-cell">
                        <i class="fa fa-long-arrow-left"></i>
                    </div>
                    <div class="table-cell interface-cell">
                        <select>
                            <option *ngFor="let networkInterface of stage.receiverNode.interfaces"
                                    [value]="networkInterface.name">
                                {{ networkInterface.name }}
                            </option>
                        </select>
                    </div>
                    <div class="table-cell arrow-cell">
                        <i class="fa fa-long-arrow-left"></i>
                    </div>
                    <div class="table-cell" title="{{ stage.sender.label }}">
                        {{ stage.sender.label }}
                    </div>
                    <div class="table-cell" title="{{ stage.senderDevice.label }}">
                        {{ stage.senderDevice.label }}
                    </div>
                    <div class="table-cell delete-cell">
                        <i class="fa fa-trash" (click)="deleteStage.emit(i)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>